#scrollButton {
    position: fixed;
    top: 35%;
    right: 0;
    transform: translateY(-50%);
    padding: 5px 10px;
    cursor: pointer;
    text-wrap:nowrap;
    width: 3em;
    height: 7em;
    text-align: center;
    writing-mode: vertical-rl;
    z-index: 1;
  }

  @media screen {
    
  }
  
  /* #scrollButton:hover {
    
  } */.headerImg {

    background-image: none;


  }



  #background-music {
    position: absolute;
    top: 0;
    left: -9999px;
  }


  .cardHover :hover {
    margin-left: 18px;
    margin-top: 18px;
  }


/* .blessingBtn{

} */

.blessingBtnText {
    margin:0; padding: 2%; font-size: x-small;
}

.blessingBtnImg {
    width: 50%;
}